<header>
  <h1>  LIVE FOR LIVE MUSIC </h1>

        <img id="hero" src="http://phishthoughts.com/wp-content/uploads/2012/12/IMG_1400.jpg" height="auto" width="cover">

</header>

{{outlet}}

<footer>
  {{#link-to 'index'}}Click here to return HOME.{{/link-to}}
  <hr>
  {{#link-to 'contact'}}Click here to peep our contact page.{{/link-to}}
  <hr>
  {{#link-to 'about'}}Click here to peep our about page.{{/link-to}}

</footer>
